#############################
### Node.js
#############################

/node_modules
/npm-debug.log

#############################
### Project
#############################

/CHANGELOG.md
/coverage
/dist
